<ion-tabs class="tabs-striped tabs-top tabs-background-calm tabs-color-light">   
    
    <ion-tab title="HOME" icon="ion-android-home" href="#/app/home/landing">     
		<ion-nav-view name="landingContent"></ion-nav-view>
    </ion-tab>  

    <ion-tab title="MAP" icon="ion-android-pin" href="#/app/home/map">
		<ion-nav-view name="mainMapContent"></ion-nav-view>
    </ion-tab>

    <ion-tab title="FEED" icon="ion-android-notifications" href="#/app/home/feed">
    	<ion-nav-view name="mainFeedContent"></ion-nav-view>
    </ion-tab>
</ion-tabs>


