<ion-view view-title="ToutCast">  
  <ion-content class="stable-bg">

  	<div class="card ink ink-dark" href="#">
  		<div class="row">
  			<div class="col-33">
  				<img class="stable-bg" src="http://beerfest.toutcast.com/server/php/files/LuckyIrish.jpg"/>
  			</div>	
			<div class="item item-text-wrap col-66">
				<h2 class="dark">Lucky Irish Bar</h2>
				Combo alitas y 2 tarros en $200
				<p class="calm">
					<i class="icon ion-android-pin"></i> 
					A 500m de ti
				</p>
				<p class="balanced">
					<i class="icon ion-android-time"></i> 
					Quedan 40 minutos
				</p>
			</div>
  		</div>
  		<div class="item-divider button-bar">		  
				<a href="#" class="button button-clear button-positive button-icon icon ion-pricetags"></a>
				<a href="#" class="button button-clear button-calm button-icon icon ion-android-pin"></a>
				<a href="#" class="button button-clear button-royal button-icon icon ion-home"></a>			
				<a href="#" class="button button-clear button-icon icon button-energized ion-android-star-outline"></a>
				<a href="#" class="button button-clear button-icon icon button-dark ion-android-more-vertical"></a>	  
		</div>
	</div>
  	<div class="row">

  		<div class="card col ink ink-dark" href="#">
		  <img class="stable-bg" src="http://nb9.stumbleupon.netdna-cdn.com/sQiqz80NNRFMMqhd5iO62g"/>
		  <div class="item item-text-wrap">
		    2x1 en tu primera rebanada!
		  </div>
		  <p class="assertive">
		  	<i class="icon ion-android-time"></i> 
		  	Quedan 5 minutos
		  </p>
		  <div class="item-divider button-bar">		  
		  	<a href="#" class="button button-clear button-positive button-icon icon ion-pricetags"></a>
		  	<a href="#" class="button button-clear button-icon icon button-energized ion-android-star-outline"></a>
		  	<a href="#" class="button button-clear button-icon icon button-dark ion-android-more-vertical"></a>	  
		  </div>
		</div>

		<div class="card col ink ink-dark" href="#">
		  <img class="stable-bg" src="http://baja.com/ensenada/files/2012/10/cerveceriawendlandt-4.jpg"/>
		  <div class="item item-text-wrap ">
		    Wendlandt ofrece 20%
		  </div>
		  <p class="balanced">
			  <i class="icon icon-balanced ion-android-apps"></i> 
			  Quedan 3 de 5
		  </p>
		  <div class="item-divider button-bar">		  
		  	<a href="#" class="button button-clear button-positive button-icon icon ion-pricetags"></a>
		  	<a href="#" class="button button-clear button-icon icon button-energized ion-android-star"></a>
		  	<a href="#" class="button button-clear button-icon icon button-dark ion-android-more-vertical"></a>	  
		  </div>
		</div>	
  	</div>
	    
    <div >
    	<button class="button button-light">		light:   </button>
		<button class="button button-stable">		stable:  </button>
		<button class="button button-positive">	positive:</button>
		<button class="button button-calm">		calm:    </button>
		<button class="button button-balanced">	balanced:</button>
		<button class="button button-energized">	energized</button>
		<button class="button button-assertive">	assertive</button>
		<button class="button button-royal">		royal:   </button>
		<button class="button button-dark">		dark:    </button>
    </div>
  </ion-content>
</ion-view>