<ion-view view-title="ToutCast">
  <ion-content class="stable-bg">
    <dialog open style="background-color:#A4C846;align:center;top:5%;width:80vw;border: 1px solid rgba(0,0,0,0.3);border-radius:15px; box-shadow:0 3px 7px rgba(0,0,0,0.5); border-top: 5px solid #DFE055;">
  	<div class="card" style="border:0.5px solid rgba(0,0,0,0);border-radius:15px;box-shadow:0 3px 7px rgba(0,0,0,0.5);border-top: 5px solid #5EB22F;">
	  		<img src="img/toutcast-logo.png" style="width:100%;border-radius: 0%; padding:20px" />
      <h2 class="positive" style="font-size: 30px;text-align:center">Bienvenido a ToutCast<br> "The Local App"</h2>
      <p style="padding:10px">Gracias por descargar la app, no solo obtendrás grandes beneficios al utilizarla, sino tambien ayudarás a muchos comercios a darse a conocer y a brindarte un mejor servicio. </p>
      <p style="padding:10px">Para utilizarlo solo regístrate y comienza a aprovechar las ofertas que los comercios brindan cerca de ti!</p>
      <p style="padding:10px">Un saludo desde todo el equipo ToutCast.</p>
    </div>
    </dialog>
  </ion-content>
</ion-view>
<!-- Home Button Color --  Purple #8278E3
     Map Icon Color -- Blue #63AA8E -->
