<ion-view view-title="ToutCast">  
  <ion-content class="stable-bg">

  	<div class="card">
  		<h2>Bienvenido a ToutCast</h2>
  	</div>
	    
    <div >
    	<button class="button button-light">		light:   </button>
		<button class="button button-stable">		stable:  </button>
		<button class="button button-positive">	positive:</button>
		<button class="button button-calm">		calm:    </button>
		<button class="button button-balanced">	balanced:</button>
		<button class="button button-energized">	energized</button>
		<button class="button button-assertive">	assertive</button>
		<button class="button button-royal">		royal:   </button>
		<button class="button button-dark">		dark:    </button>
    </div>
  </ion-content>
</ion-view>