<ion-view view-title="ToutCast">  
  <ion-content>
   <ion-list class="list">
   	<ion-item href="#/app/home/feed/1" class="item item-avatar animate-fade-slide-in-right" ng-repeat="t in touts">
   		<img ng-ref="{{::t.logo}}" ng-show="t.logo"></img>
      <div class="tc-avatar-icon positive-bg circular-div" ng-hide="t.logo">
        <i class="icon light ion-pricetags"></i>
      </div>
   		<h3>{{::t.title}}</h3>
   		<p>{{::t.content}}</p>
   	</ion-item>
   </ion-list>

   <div style="width:100%;text-align: center;">
    <ion-spinner class="spinner-balanced" icon="dots"></ion-spinner>
   </div>
   <div style="width:100%;text-align: center;">
    <i class="icon energized ion-sad-outline" style="font-size: 13vmin"></i>
    <p class="energized">Algo ocurrió buscando ofertas, intenta en un momento</p>
  </div>
  </ion-content>
</ion-view>