<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="refreshUser()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view title="ToutCast" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div class="tc-menu-bg">
        <img class="tc-img-circle tc-profile-pic" ng-src="{{user.picture}}" ng-show="user.picture"/>
        <div class="tc-profile-info light" ng-show="isAuthenticated">

          <i class="icon ion-person"></i>
          {{user.name}}
          {{user.email}}
        </div>
      </div>
      <ion-list class="list">
        <ion-item class="item item-icon-left ink ink-dark" menu-close ui-sref="app.home">
          <i class="icon ion-android-home"></i>
          Home
        </ion-item>
        <ion-item class="item item-icon-left ink ink-dark" menu-close ng-click="logOut()" ng-show="isAuthenticated">
          <i class="icon ion-log-out"></i>
          Log Out
        </ion-item>
        <ion-item class="item item-icon-left ink ink-dark" menu-close ui-sref="app.login" ng-hide="isAuthenticated">
          <i class="icon ion-log-in"></i>
          Login
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
