<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i>ALEX
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view title="Canje">
	<ion-content scroll="false" class="content dark-bg" has-header="false">
		<div ng-if="loadingTout" class="loading-view positive-bg">
			<p class="light">Canjeando...</p>
			<div class="spinner-container">
				<ion-spinner icon="ripple" class="spinner-light" >
				</ion-spinner>
			</div>
		</div>
    <div ng-if="pinPrompted" class="pin-view light-bg">
      <p class="positive">Intruduce el PIN</p>
      <div class="spinner-container">
        <input class="stable-bg input pin-field" type="tel" ng-model="pinInput" maxlength="4"/>
        <button ng-click="sendPIN(pinInput)" class="button button-positive button-outline button-small">Enviar</button>
      </div>
    </div>
		<div class="crescent-container">
			<div class="circularDiv crescent positive-bg grow" ng-style="crescentStyle" ></div>
			<div class="circularDiv crescent positive-bg grow" ng-if="grown" ></div>
			<div class="circularDiv crescent energized-bg grow" ng-if="failed" ></div>
			<div class="circularDiv crescent light-bg grow" ng-if="loadingTout"></div>
		</div>
		<ion-scroll scrollbar-x="false" scrollbar-y="false" delegate-handle="slide-track" class="slide-track" >
			<div style="height:91%">
				<div on-touch="disableScrolling()" on-release="enableScrolling()" style="height: 82%"></div>
				<div href="#" ng-hide="done" class="balanced-bg item-text-wrap ink ink-light sleigh" on-drag-up="onDragUp()" on-release="onSleighRelease()" direction="y">
					<i class="icon light ion-pricetags"></i>
					<h5 class="light">{{tout.title}}</h5>
				</div>
				<div href="#" on-touch="disableScrolling()" on-release="enableScrolling()" ng-show="approved" class="light-bg item-text-wrap sleigh" direction="y">
					<i class="icon positive ion-android-done-all"></i>
					<h5 class="positive">Aprobada!</h5>
				</div>
				<div href="#" on-touch="disableScrolling()" on-release="enableScrolling()" ng-show="failed" class="light-bg item-text-wrap sleigh" direction="y">
					<i class="icon energized ion-android-more-horizontal"></i>
					<h5 class="energized">{{errorMsg}}</h5>
				</div>
			</div>
			<div on-touch="disableScrolling()" on-release="enableScrolling()" style="height:110%"></div>
		</ion-scroll>

	</ion-content>
</ion-view>
