<ion-view title="Canje de Oferta" hide-nav-bar="true">
	<ion-content class="content dark-bg" style="overflow: hidden;" has-header="false">
		<div ng-if="loadingTout" class="loading-view positive-bg">
			<p class="light">Canjeando...</p>
			<ion-spinner icon="ripple" class="spinner-light" style="margin-right: auto; margin-left: auto;">
			</ion-spinner>
		</div>
		<div class="crescent-container">
			<div class="circularDiv crescent positive-bg grow" ng-style="crescentStyle" ></div>				
			<div class="circularDiv crescent positive-bg grow" ng-if="grown" ></div>		
			<div class="circularDiv crescent light-bg grow" ng-if="loadingTout"></div>
		</div>
		<ion-scroll scrollbar-x="false" scrollbar-y="false" delegate-handle="slide-track" style="width: 40%; height: 110%; bottom:0px; margin-right: auto; margin-left: auto;" >
			<div on-touch="disableScrolling()" on-release="enableScrolling()" style="height:80%"></div>
			<ion-item href="#" class=" item-balanced item-text-wrap ink ink-light sleigh" on-drag-up="onDragUp()" on-release="onSleighRelease()" direction="y" style="height:15%;overflow: hidden">
				<h2>Primer Vaso Gratis</h2>
				<p>Wendlandt</p>
			</ion-item>
			<div style="height:110%"></div>
		</ion-scroll>

	</ion-content>
</ion-view>