<ion-view title="Canje de Oferta">
	<ion-content scroll="false" class="content dark-bg" has-header="false">
		<div ng-if="loadingTout" class="loading-view positive-bg">
			<p class="light">Canjeando...</p>
			<div class="spinner">
				<ion-spinner icon="ripple" class="spinner-light" >
				</ion-spinner>
			</div>
		</div>
		<div class="crescent-container">
			<div class="circularDiv crescent positive-bg grow" ng-style="crescentStyle" ></div>				
			<div class="circularDiv crescent positive-bg grow" ng-if="grown" ></div>		
			<div class="circularDiv crescent light-bg grow" ng-if="loadingTout"></div>
		</div>
		<ion-scroll scrollbar-x="false" scrollbar-y="false" delegate-handle="slide-track" class="slide-track" >
			<div style="height:91%">
				<div on-touch="disableScrolling()" on-release="enableScrolling()" style="height: 85%"></div>
				<div href="#" ng-hide="approved" class="balanced-bg item-text-wrap ink ink-light sleigh" on-drag-up="onDragUp()" on-release="onSleighRelease()" direction="y">
					<h4 class="light">Primer Vaso Gratis</h4>
					<p>Wendlandt</p>
				</div>
				<div href="#" ng-show="approved" class="light-bg item-text-wrap sleigh" style="text-align: center;
    padding: 2vmin;" direction="y">
					<i style="font-size: 12vmin;" class="icon positive ion-android-done-all"></i>
					<h5 class="positive">Aprobada!</h5>
				</div>
			</div>
			<div on-touch="disableScrolling()" on-release="enableScrolling()" style="height:110%"></div>
		</ion-scroll>

	</ion-content>
</ion-view>